fabricTask.tar.gz
log.txt
/network/artifacts/crypto-config
/network/artifacts/genesis.block
/network/artifacts/mychannel.tx
/network/artifacts/Org1MSPanchors.tx
/network/artifacts/Org2MSPanchors.tx
**/channel-artifacts/*
/network/chaincode/fabricTask/vendor

node_modules
notes.txt
utm-client/*
api/*
**/org1-wallet/*
**/org2-wallet/*

/network/addOrg
/network/addPeer
/network/addPeerSnapshot
/network/artifacts/create-certificate-with-ca/renewCert.sh
/network/artifacts/create-certificate-with-ca/startCa.sh
